<nav class="navbar"> 
    <div class="left">
        <img class="logo" src="assets/images/logo.png" alt="Logo" (click)="navigateToDashboard()">
    </div>

    <div class="right" #menuContainer>
        <img 
            id="userProfile"
            src="assets/images/userProfile.png"
            alt="Usericon"
            (click)="toggleMenu()"
        >

        <div class="profileOptions" *ngIf="menuOpen">
            <a routerLink="/settings">Einstellungen</a>
            <button (click)="logout()">Abmelden</button>
        </div>
    </div>
</nav>
