<div class="streakComponent">

  <div class="upperPart">
    <div class="streakIcon">
      <img src="assets/images/streak.png" alt="Streak Icon">
    </div>

    <div class="streakInfo">
      <h1>{{ streakCounter }}</h1>
      <p>Deine aktuelle Serie</p>
    </div>
  </div>

  <div class="bottomPart">
    <p class="rewardHint">
      Je länger deine Serie, desto mehr Vorteile erhältst du!
    </p>

    <p class="streakExpire">
      Du verlierst deine Serie in:
      <strong>{{ daysLeft }} Tagen</strong>
    </p>
  </div>

</div>